.linker {
    text-decoration: none;
    color: black;
}

.fade-enter-archive, .fade-leave-archive {
    transition-duration: 0.75s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}